<div>
    <h3>Tariff Comparison</h3>

    <div>
        <div *ngFor="let vatValue of vatValues" class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox_{{vatValue}}" [checked]="includeVat === vatValue" (change)="includeVat = vatValue">
            <label class="form-check-label" for="inlineCheckbox_{{vatValue}}">{{vatDisplayValue(vatValue)}}</label>
        </div>
    </div>

    <unit-rates-chart [tariffs]="tariffs" [includeVat]="includeVat"></unit-rates-chart>

    <standing-charge-chart [tariffs]="tariffs" [includeVat]="includeVat"></standing-charge-chart>
</div>