<div>
    <h3>Tariff Comparison</h3>

    <div *ngFor="let tariffAndProduct of tariffs">
        <div>{{tariffAndProduct.tariff.code}}</div>

        <div *ngIf="unitRatesConfig != null" class="pt-3">
            <h4>Unit Rates</h4>
            <div class="row chart-container">
                <canvas baseChart 
                    [data]="unitRatesConfig.data" 
                    [options]="unitRatesConfig.options"
                    type="bar"></canvas>
            </div>
        </div>

        <div *ngIf="standingChargesConfig != null" class="pt-3">
            <h4>Standing Charge</h4>
            <div class="row chart-container w-50">
                <canvas baseChart 
                    [data]="standingChargesConfig.data" 
                    [options]="standingChargesConfig.options"
                    type="bar"></canvas>
            </div>
        </div>
    </div>
</div>