
<div>
    <h2>Tariff Browser</h2>

    <div class="d-flex" *ngIf="checkboxes.length > 0">
        <div class="mx-2" *ngFor="let key of checkboxes">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [checked]="isChecked(key)" (click)="toggleFilter(key)">
                <label class="form-check-label" for="flexCheckDefault">{{filterDisplayString(key)}}</label>
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-sm" (click)="reset()">Reset</button>

    </div>

    <ul>
        <li *ngFor="let product of products" (click)="selectProduct(product)">{{product.full_name}}</li>
    </ul>
</div>