<div class="container">

    <div>
        <product-filter></product-filter>
        <tariff-selector (productChange)="onProductSelected($event)" (billingTypeChange)="onBillingSelected($event)"></tariff-selector>
    </div>

    <div class="row">
        <selected-product class="col-xl" [product]="product"></selected-product>
        <selected-tariff class="col-xl" [tariff]="tariff"></selected-tariff>
    </div>

    <tariff-comparison *ngIf="tariffs.length > 0" [tariffs]="tariffs"></tariff-comparison>

</div>