<div class="py-2 d-flex flex-row">
    
    <!-- Product Selector -->
    <div class="pe-2">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="productSelectionDropdown" ngbDropdownToggle>{{productSelector.buttonText}}</button>
            <div ngbDropdownMenu aria-labelledby="productSelectionDropdown">
                <button ngbDropdownItem *ngFor="let product of productSelector.items" (click)="productSelector.selectItem(product)">{{product.full_name}}</button>
            </div>
        </div>
    </div>

    <!-- Register Selector -->
    <div *ngIf="productSelector.selectedItem != null" class="pe-2">
        <div *ngIf="!registerSelector.loading" ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="registerSelectionDropdown" ngbDropdownToggle>{{registerSelector.buttonText}}</button>
            <div ngbDropdownMenu aria-labelledby="registerSelectionDropdown">
                <button ngbDropdownItem *ngFor="let register of registerSelector.items" (click)="registerSelector.selectItem(register)">{{registerDisplayValue(register)}}</button>
            </div>
        </div>
        <div *ngIf="registerSelector.loading">
            Loading...
        </div>
    </div>

    <!-- Region Selector -->
    <div *ngIf="registerSelector.selectedItem != null" class="pe-2">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="regionSelectionDropdown" ngbDropdownToggle>{{regionSelector.buttonText}}</button>
            <div ngbDropdownMenu aria-labelledby="regionSelectionDropdown">
                <button ngbDropdownItem *ngFor="let region of regionSelector.items" (click)="regionSelector.selectItem(region)">{{region.name}}</button>
            </div>
        </div>
    </div>
</div>